
/* ##################################### general */

div, p, td, th {
	font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;
	font-size: 12px;
}

img.imageButton {
	cursor: pointer;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/* ##################################### layout */

body {
	margin: 0px;
}

#centeredContainer {
	margin: 0 auto;
	width: 1000px;
}

#headerContainer {
	width: 998px;
	height: 160px;
	position: relative;
	border: 1px solid #DDDDDD;
	margin: 10px 0px 10px 0px;
	background-color: #FAFAFA;
}
#headerContainer:before {
	position: absolute;
	/*
	border: 5px solid white;
	content: '';
	width: 980px;
	height: 150px;
	*/
}
#headerContainer:after {
	content: '';
	position: absolute;
	width: 984px;
	height: 146px;
	border: 4px solid #CCCCCC;
	left: 3px;
	top: 3px;
}

#mainContainer {
	width: 100%;
	overflow: visible;
}

#footerContainer {
	clear: both;
	width: 100%;
	height: 40px;
	color: #AAAAAA;
}

/* ##################################### main container */

#sidebarContainer {
	float: left;
	position: relative;
	width: 0px;
	top: 30px;
	left: -130px;
	overflow: visible;
}

#contentContainer {
	float: left;
	width: 100%;
	min-height: 500px;
	padding: 10px;
	padding-right: 0px;
}


/* ##################################### title banner */

.titleBanner {
	width: 760px;
	height: 125px;
	margin: 17px auto;
}

.titleBanner .titleContainer {
	position: relative;
	top: 10px;
	left: 50px;
}

.titleBanner .titleContainer .title {
	position: absolute;
}


/* ##################################### entry */

ul.entriesList {
	width: 100%;
	list-style: none;
	padding: 0px;
}
.entriesList .entry {
	width: 100%;
	padding-bottom: 30px;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 30px;
}

.entriesList .entry .facebookContainer {
	float: right;
	width: 380px;
	height: 100%;
	margin-left: 20px;
	margin-top: 5px;
}

.entriesList .entry .title {
	display: inline;
	font-family: Georgia;
	font-size: 20px;
	font-weight: bolder;
	color: rgb(59,78,107);
}

.entriesList .entry .date {
	display: inline;
	margin-left: 18px;
	font-style: italic;
}

.entriesList .entry .tour {
	width: 600px;
}

.entriesList .entry .content {
	display: block;
	margin-top: 5px;
}

.entriesList .entry .geoCoordinate {
	float: right;
}

.entriesList .entry .media {
	margin-top: 15px;
	margin-left: 3px;
}

.entriesList .entry .media .mediaItem {
	float: left;
	margin-left: 8px;
	margin-bottom: 8px;
}

.entriesList .entry .event {
	margin-bottom: 15px;
}

.entriesList .entry .links .url {
	list-style-type: circle;
}


/* ##################################### mediaitem */

.mediaItemPanel {
	height: 570px;
}

.mediaItemPanel .title {
	display: block;
	height: 25px;
	margin-left: 75px;
	font-size: 14px;
}

.mediaItemPanel .previousImagePanel {
	padding-left: 15px;
	padding-top: 200px;
	width: 35px;
}
.mediaItemPanel .nextImagePanel {
	padding-left: 15px;
	padding-top: 200px;
	width: 35px;
}

.mediaItemPanel .mediaObjectPanel {
	width: 750px;
	text-align: center;
	vertical-align: middle;
}
.mediaItemPanel .mediaObjectPanel .originalLinkPanel {
	text-align: center;
}


/* ##################################### sidebar components */

.sidebarWidget {
	width: 200px;
}
.sidebarWidget .gwt-DisclosurePanel .content {
	border-left: none;
	margin-left: 7px;
	margin-top: 10px;
	padding: 0px;
}
.optionsList {
	list-style: disc;
	padding-left: 20px;
}

.monthSelectionPanel .optionsPanel .active {
	font-weight: bold;
	text-decoration: none;
}
.monthSelectionPanel .journalSelectionPanel {
	margin-top: 10px;
}
.monthSelectionPanel .journalSelectionPanel .gwt-CheckBox {
	display: block;
} 

.mailinglist .description {
	margin-bottom:5px;
}

.commentBox .addComment {
	margin-bottom: 20px;
}
.commentBox .comment {
	margin-bottom: 20px;
}
.commentBox .comment .picture {
	width: 40px;
	height: 40px;
	margin-right: 6px;
}
.commentBox .comment .author {
	font-weight: bold;
}
.commentBox .comment .date {
	font-style: italic;
	font-size: 11px;
	display: block;
}
.commentAdd {
	margin: 10px;
}
.commentAdd .title {
	float: left;
	width: 100px;
}
.commentAdd .pictureUrl {
	margin-top: 10px;
	margin-bottom: 20px;
}
.commentAdd .pictureUrl .description {
	font-size: 10px;
	width: 365px;
}
.commentAdd .content .contentTextArea {
	width: 255px;
	height: 100px;
}
.commentAdd .buttons {
	text-align: right;
	margin-top: 10px;
	margin-right: 15px;
	margin-bottom: 2px;
}


/* ##################################### others */

.errorDisplay .title img {
	float: left;
	padding: 10px;
}

.errorDisplay .title h1 {
	font: 13pt/15pt verdana;
	color: black;
	vertical-align: middle;
	padding-left: 10px;
	padding-top: 10px;
}

.errorDisplay .errorMessage {
	font-family: monospace;
	padding-top: 20px;
	padding-bottom: 20px;
}
